<% if @cat.errors.any? %>
  <h2>There were errors saving the cat's information.</h2>
  <ul>
    <% @cat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<h1><%= @cat.name %></h1>

<b><% if @cat.adopted == true %>
	<%= "#{@cat.name} has already been adopted.  Congratulations, #{@cat.name}!" %>
<% end %></b>

<p>Description:</p>
<p><%= @cat.description %></p>

<p>Sex:  <%= @cat.sex_in_words %></p>

<p>Color:  <%= @cat.color %></p>

<p>Age:  <%= @cat.age %></p>

<p>Length (nose to base of tail, cm):  <%= @cat.length %></p>

<p>Height (up to shoulder, cm):  <%= @cat.height %></p>

<p>Weight (kg):  <%= @cat.weight %></p>

<p><% if @cat.spayed_neutered == false %>
		<%= "Not " %>
	<% end %>
	<%= @cat.spay_neuter_in_words.capitalize %></p>

<p><% if @cat.house_trained == false %>
		<%= "Not " %>
	<% end %>
	Litterbox-Trained</p>

<p><b>Medical Notes:</b></p>
<p><%= @cat.medical_notes %></p>

<p><b>Notes on intreaction with humans:</b></p>
<p><%= @cat.human_notes %></p>

<p><b>Notes on intreaction with other animals:</b></p>
<p><%= @cat.other_pet_notes %></p>

<p><%= link_to "Update", 'edit' %></p>

<p><%= link_to "Back to Main Listing", root_path %></p>